<%= link_to gravatar_for(@user, size: 150), @user %>
<span>Username: <%= @user.username %></span>
<br>
<span>Email: <%= @user.email %></span>
<br>
<span>Dob: <%= @user.dob %></span>
<br>
<span>Foot length: <%= @user.foot_length %> (cm)</span>
<br>
<span>Foot width: <%= @user.foot_width %> (cm)</span>
