<%= link_to gravatar_for(@user, size: 150), @user %>
<span style="font-size: 25px; margin-left: 50px">Email: <%= @user.email %></span>
<br>
<span style="font-size: 25px; margin-left: 50px">Date of birth: <%= @user.dob %></span>
<br>
<span style="font-size: 25px; margin-left: 50px">Foot length: <%= @user.foot_length %> (cm)</span>
<br>
<span style="font-size: 25px; margin-left: 50px">Foot width: <%= @user.foot_width %> (cm)</span>
