<div class="row user_profile">
  <div class="col-md-8 mx-auto">
    <div class="user_info col-md-6 mx-auto">
      <%= render 'user_info' %>
    </div>

    <% if @user.bookmarks.any? %>
      <div class="user_bookmarks" style="clear:both;">
        <h3>Bookmarks (<%= @user.bookmarks.count %>)</h3>
        <div class="row">
          <% for @bookmark in @shoe_bookmarks %>
            <%= render 'bookmarks/bookmark', object: @bookmark %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @user.reviews.any? %>
      <div class="user_reviews" style="clear:both;">
        <h3>Reviews (<%= @user.reviews.count %>)</h3>
        <ol class="reviews">
          <% for @review in @user_reviews %>
            <%= render 'users/user_reviews', object: @review %>
          <% end %>
        </ol>
        <!--      = will_paginate @user_reviews %> -->
      </div>
    <% end %>
  </div>
</div>
