<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'user_info' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.reviews.any? %>
      <h3>Reviews (<%= @user.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @user_reviews %>
      </ol>
      <!--      = will_paginate @user_reviews %> -->
    <% end %>
  </div>
</div>

<% @shoe_bookmarks.each do |bookmark| %>
  <p>Shoe name: <%= link_to bookmark.shoe.name %></p>
  <%= link_to shoe_path(bookmark.shoe.id) do %>
    <%= image_tag bookmark.shoe.shoe_images.first.image,
      height: '500', width: '500' %>
  <% end %>
  <p>Shoe image: <%= link_to bookmark.shoe.name, shoe_path %></p>
  <p>Shoe brand: <%= bookmark.shoe.brand.name %></p>
  <p>Shoe category: <%= bookmark.shoe.category.name %></p>
  <br>
<% end %>
