<div class="row user_profile">
  <div class="col-md-8 mx-auto">
    <div class="user_info col-md-6 mx-auto">
      <%= render 'user_info' %>
    </div>

    <div class="user_bookmarks" style="clear:both;">
      <% if @user.bookmarks.any? %>
        <h3>Bookmarks (<%= @user.bookmarks.count %>)</h3>
        <ol class="bookmarks">
          <%= render @shoe_bookmarks %>
        </ol>
      <% end %>
    </div>

    <div class="user_reviews">
      <% if @user.reviews.any? %>
        <h3>Reviews (<%= @user.reviews.count %>)</h3>
        <ol class="reviews">
          <% for @review in @user_reviews %>
            <!-- <= review.id %> -->
            <%= render 'users/user_reviews', object: @review %>
          <% end %>
        </ol>
        <!--      = will_paginate @user_reviews %> -->
      <% end %>
    </div>

  </div>
</div>
