<div class="row custom-nav">
  <div class="col-2">
    <%= link_to "足柄", root_path, class:"custom-nav-brand" %>
  </div>
  
  <div class="col-8 d-flex justify-content-start align-items-center">
    <div class="row custom-nav-main">
      <input type="text" class="form-control custom-nav-search rounded-left" placeholder="Search">
      <div class="custom-nav_search-icon-main d-flex align-items-center">
        <%= image_tag("ic_search_black.png", :class => 'custom-nav_search-icon')%>
      </div>
    </div>
  </div>
  
  <div class="col-2 d-flex align-items-center" style="padding-right: 40px; font-size: 13px; width: 100%;">
    <% if (!user_signed_in?) %>
    <%= link_to "Sign In", new_user_session_path, class: "text-babu nav-link", style: "float: right"%>
    <%= link_to "Sign Up", new_user_registration_path, class: "text-babu nav-link", style: "float: right" %>
    <% else %>
    <div class="dropdown">
      <img style="width: 40px; height: 40px;" src="<%= get_avatar current_user %>" id="dropdownMenuButton" class="dropdown-toggle rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="dropdown-menu">
        <%= link_to "プロフィール", user_path(current_user), class: "dropdown-item", style: "text-decoration: none;"%>
        <%= link_to "プロファイル編集", edit_user_registration_path, class: "dropdown-item", style: "text-decoration: none;" %>
        <div class="dropdown-divider"></div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item", style: "text-decoration: none;" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  $('.dropdown-toggle').dropdown()
</script>
