<div class="row custom-nav">
  <div class="col-4 d-flex align-items-center">
    <div class="row custom-nav-main">
      <input type="text" class="form-control custom-nav-search rounded-left" placeholder="Search">
      <div class="custom-nav_search-icon-main d-flex align-items-center">
        <img src="ic_search_black.png" class="custom-nav_search-icon" >
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <%= link_to "足柄", root_path, class:"custom-nav-brand" %>
  </div>
  <div class="col-4" style="padding-right: 40px; font-size: 13px">
    <% if (!user_signed_in?) %>
    <%= link_to "Sign Up", new_user_registration_path, class: "text-babu nav-link", style: "float: right" %>
    <%= link_to "Login", new_user_session_path, class: "text-babu nav-link", style: "float: right"%>
    <% else %>
      <div class="w3-dropdown-hover white">
        <img style="width: 40px; height: 40px;" src="<%= get_avatar current_user %>" class="rounded-circle" onclick="myFunction()"/>

        <div class="w3-dropdown-content" id="setting" style="margin-top: 10px;">
          <%= link_to "プロフィール", user_path(current_user), class: "w3-bar-item black-text", style: "text-decoration: none;"%>
          <br>
          <%= link_to "プロファイル編集", edit_user_registration_path, class: "w3-bar-item black-text", style: "text-decoration: none;" %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "w3-bar-item black-text", style: "text-decoration: none;" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--<script>-->
<!--function myFunction() {-->
<!--    var x = document.getElementById("setting");-->
<!--    if (x.className.indexOf("w3-show") == -1) {-->
<!--        x.className += " w3-show";-->
<!--    } else {-->
<!--        x.className = x.className.replace(" w3-show", "");-->
<!--    }-->
<!--}-->
<!--</script>-->
