<%= link_to shoe_path(shoe) do %>
    <div style="height: 450px">
      <div class="custom-card">
        <img class="img-fluid" style="width: 235px; height: 170px;" src=<%= shoe.shoe_images.first.image %>>
      </div>
      
      <div style="margin-top: 15px; color: black; font-size: 20px;">
          <%= link_to shoe.name, shoe_path(shoe), :style => "color: black" %>
      </div>
      <div style="font-size: 13px; color: #757575"><%= shoe.brand.name %></div>
      <div style="font-size: 13px; color: #757575"><%= shoe.category.name %></div>
      <div style="font-size: 13px; color: #159588"><%= shoe.money_worthy %></div>
    </div>
<% end %>
