<div id="form-edit-review-<%= review.id %>">
  <div style="margin-top: 30px; margin-bottom: 100px">
  <%= form_for [review.shoe, review] do |f| %>
    <div class='row'>
      <div class='col-5'>

        <div class="row">
          <div class='col-4'>
            Durability:
          </div>
          <div id="durability"></div>
        </div>
        <div class="row" style='margin-top:15px'>
          <div class='col-4'>
            Comfortability:
          </div>
          <div id="comfortability"></div>
        </div>
        <div class="row" style='margin-top:15px'>
          <div class='col-4'>
            Ventilation:
          </div>
          <div id="ventilation"></div>
        </div>
        <div class="row" style='margin-top:15px'>
          <div class='col-4'>
            Money worthy:
          </div>
          <div id="money_worthy"></div>
        </div>
      </div>

      <div class='col-7'>
        <%= f.text_area :content, placeholder: 'Content', class: 'form-control', style: "height: 100px;" %>
      </div>

    </div>
    <%= f.hidden_field :shoe_id, value: review.shoe.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div>
      <button id='cancel' class="btn btn-primary pull-right waves-effect waves-light btn", style= "margin-right:50px, background: #009688; color: white; width: auto; display: inline, margin-left: 10px; font-size: 13px; border-radius: 50px; box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.2);">
      Cancel 
      </button>
    </div>

    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary pull-right waves-effect waves-light btn", style: "margin-right:50px, background: #009688; color: white; width: auto; display: inline, font-size: 13px; border-radius: 50px; box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.2);"%>
    </div>
  <% end %>
  </div>

  <script charset="utf-8">
    $('#cancel').click(function(){
      $("form-edit-review-<%= review.id %>").replaceWith("<%= j render partial: 'reviews/review', locals: { review: review } %>")
    })
  </script>
  <script>
    $('#durability').raty({
      path: '/assets',
      <% path = image_url('star-on.png') %>
      starOn: '<%= path.slice((path.index('assets/')+7)..(path.size)) %>',
      <% path = image_url('star-off.png') %>
      starOff: '<%= path.slice((path.index('assets/')+7)..(path.size)) %>',
      scoreName: 'review[durability]',
      score: <%= review.durability %>
    });
  </script>

  <script>
    $('#comfortability').raty({
      path: '/assets',
      <% path = image_url('star-on.png') %>
      starOn: '<%= path.slice((path.index('assets/')+7)..(path.size)) %>',
      <% path = image_url('star-off.png') %>
      starOff: '<%= path.slice((path.index('assets/')+7)..(path.size)) %>',
      scoreName: 'review[comfortability]',
      score: <%= review.comfortability %>
    });
  </script>


  <script>
    $('#ventilation').raty({
      path: '/assets',
      <% path = image_url('star-on.png') %>
      starOn: '<%= path.slice((path.index('assets/')+7)..(path.size)) %>',
      <% path = image_url('star-off.png') %>
      starOff: '<%= path.slice((path.index('assets/')+7)..(path.size)) %>',
      scoreName: 'review[ventilation]',
      score: <%= review.ventilation %>
    });
  </script>

  <script>
    $('#money_worthy').raty({
      path: '/assets',
      <% path = image_url('star-on.png') %>
      starOn: '<%= path.slice((path.index('assets/')+7)..(path.size)) %>',
      <% path = image_url('star-off.png') %>
      starOff: '<%= path.slice((path.index('assets/')+7)..(path.size)) %>',
      scoreName: 'review[money_worthy]',
      score: <%= review.money_worthy %>
    });
  </script>
</div>
