<li id="review-<%= review.id %>">
  <span><%= pluralize(review.votes.sum(:vote_type), 'votes') %></span>
  <%#= form_for review.votes.new do |f|  %>
    <%#= f.hidden_field :review_id, value: review.id %>
    <%#= f.label :vote_type %>
    <%#= f.number_field :vote_type, value: 1 %>
    <%#= f.number_field :vote_type, value: -1 %>
    <%#= f.submit %>
  <%# end %>
  <%= link_to gravatar_for(review.user, size: 150), review.user %>
  <span class="user"><%= link_to review.user.username, review.user %></span>
  <span>Review about shoe : <%= link_to review.shoe.name, shoe_path(review.shoe_id) %>: </span>
  <span class="content"><%= review.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
  </span>
  <% if review.user == current_user  %>
    <%= link_to "edit", edit_shoe_review_path(shoe_id: review.shoe_id, id: review.id)%>
    <%= link_to "delete", shoe_review_path(shoe_id: review.shoe_id, id: review.id), method: :delete%>
  <% end %>
</li>
