<ul>
  <li>
    content: <%= @review.content %>
  </li>
  <li>
    durability: <%= @review.durability %>
  </li>
  <li>
    comfortability: <%= @review.comfortability %>
  </li>
  <li>
    ventilation: <%= @review.ventilation%>
  </li>
  <li>
    money_worthy: <%= @review.money_worthy %>
  </li>
  <li>
    vote_count: <%= @review.vote_count %>
  </li>
  <li>
    shoe name: <%= @review.shoe.name %>
  </li>
  <li>
    user name: <%= @review.user.username %>
  </li>
</ul>
