<div class="container">
  <div class="row">
    <% @shoes.each do |shoe| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to shoe_path(shoe), class: "thumbnail" do %>
              <img src="http://langviet.info/lavicom/uploads/Hi%CC%80nh-5.png" alt="...">
              <h4>
                <strong>
                  <%= shoe.name %>
                </strong>
              </h4>
            <% end %>
            <span class="badge">
              <%= shoe.category.name %>
            </span>
            <span class="badge">
              <%= shoe.brand.name %>
            </span>
            <br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex flex-row justify-content-center">
  <%= will_paginate %>
  </div>
</div>
