<div class="container" style="margin-top: 100px">
  <% if @shoe.present? %>
    <div class="row">
      <div class="col-6">
        <img class="img-fluid" style="width: 450px; height: 700px;" src=<%= @shoe.shoe_images.first.image %>>
      </div>
      <div class="col-6">
        <h1>
          <strong>
            <%= @shoe.name %>
            <% if user_signed_in? %>
              <%= render partial: 'shared/bookmark_button', locals: { shoe: @shoe } %>
            <% end %>
          </strong>
        </h1>
        <div class="row d-flex align-items-center" style="margin-left: 5px">
          <div style="color: green; font-size: 40px">$100</div>
          <%= link_to @shoe.category.name, category_path(@shoe.category), class: "d-flex align-items-center", style: "height: 40px; border: 1px solid black; padding: 5px 10px 5px 10px; border-radius: 50px; margin-left: 15px; font-size: 15px;
          color: black; text-decoration: none;" %>
          <%= link_to @shoe.brand.name, brand_path(@shoe.brand), class: "d-flex align-items-center", style: "height: 40px; border: 1px solid black; padding: 5px 10px 5px 10px; border-radius: 50px; margin-left: 15px; font-size: 15px;
          color: black; text-decoration: none;" %>
          <a href="#" class="d-flex align-items-center" style="height: 40px; border: 1px solid black; padding: 5px 10px 5px 10px; border-radius: 50px; margin-left: 15px; font-size: 15px;
          color: black; text-decoration: none;"><%= @shoe.water_proof ? 'Water-proof' : 'Non water-proof' %></a href="#">
        </div>
        <!--<div class="row">-->

          <!--<div class="col-6" style="margin-top: 30px; font-size: 20px; color: blue">-->
          <!--  Colour<br>-->
          <!--  <div class="form-check form-check-inline">-->
          <!--    <label class="form-check-label">-->
          <!--      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>-->
          <!--    </label>-->
          <!--  </div>-->
          <!--  <div class="form-check form-check-inline" style="margin-left: 10px">-->
          <!--    <label class="form-check-label">-->
          <!--      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">-->
          <!--    </label>-->
          <!--  </div>-->
          <!--  <div class="form-check form-check-inline" style="margin-left: 10px">-->
          <!--    <label class="form-check-label">-->
          <!--      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">-->
          <!--    </label>-->
          <!--  </div>-->
          <!--</div>-->

        <% if user_signed_in? %>
          <div style="margin-top: 30px; font-size: 20px; color: blue">
            Size (Recommend for you)
          </div>
          <div style="margin-top: 10px;">
            <h2><strong><%= @fitted_size.size %></strong></h2>
          </div>
          <div style="margin-top: 30px; font-size: 20px; color: blue">
            Search size
          </div>
          <div style="margin-top: 10px;">
            <%= form_tag(shoe_path, :method => "get") do %>
              <%= text_field_tag :foot_length, params[:foot_length], placeholder: "Foot length", class: "form-control", style: "display: inline; width: auto" %>
              <%= text_field_tag :foot_width, params[:foot_width], placeholder: "Foot width", class: "form-control", style: "display: inline; width: auto" %>
              <%= submit_tag "Search", class: "waves-effect waves-light btn", style: "background: #009688; color: white; width: auto; display: inline, margin-left: 10px; font-size: 13px; border-radius: 50px; box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.2);" %>
            <% end %>
            <% if @searched_fit_size.present? %>
              <strong>Suggest size based on your input: <%= @searched_fit_size.size %></strong>
            <% end %>
          </div>
        <% end  %>

        <div style="margin-top: 30px; font-size: 20px; color: blue">
          Description
        </div>
        <div style="margin-top: 10px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nesciunt atque nemo neque ut officiis nostrum incidunt maiores, magni optio et sunt suscipit iusto nisi totam quis, nobis mollitia necessitatibus.
        </div>
        <div style="margin-top: 30px; font-size: 20px; color: blue">
          Details
        </div>
        <div style="margin-top: 10px;">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nesciunt atque nemo neque ut officiis nostrum incidunt maiores, magni optio et sunt suscipit iusto nisi totam quis, nobis mollitia necessitatibus.
        </div>
        <!--<div style="margin-top: 30px; font-size: 20px; color: blue">-->
        <!--  Shoe size recommend: <span style="color: black"><strong>38</strong></span>-->
        <!--</div>-->
        <div style="margin-top: 30px; font-size: 20px; color: blue">
          Properties
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-3">
              <strong>Overall:</strong>
          </div>
          <div class="col-3">
            <span style="border: 1px solid #159588; border-radius: 2px; padding: 5px 7px 5px 7px">
              <%= @shoe.overall %>
              <%= image_tag("star.png", :style => 'width: 13px; height: 13px; margin-bottom: 2px')%>
            </span>
          </div>
        </div>
        <hr>
        <div class="row" style="margin-top: 20px">
          <div class="col-3">
              Durability:
          </div>
          <div class="col-3">
            <span style="border: 1px solid #159588; border-radius: 2px; padding: 5px 7px 5px 7px">
              <%= @shoe.durability %>
              <%= image_tag("star.png", :style => 'width: 13px; height: 13px; margin-bottom: 2px')%>
            </span>
          </div>
          <div class="col-3">
              Comfortability:
          </div>
          <div class="col-3">
            <span style="border: 1px solid #159588; border-radius: 2px; padding: 5px 7px 5px 7px">
              <%= @shoe.comfortability %>
              <%= image_tag("star.png", :style => 'width: 13px; height: 13px; margin-bottom: 2px')%>
            </span>
          </div>
        </div>
        <div class="row" style="margin-top: 20px">
          <div class="col-3">
              Ventilation:
          </div>
          <div class="col-3">
            <span style="border: 1px solid #159588; border-radius: 2px; padding: 5px 7px 5px 7px">
              <%= @shoe.ventilation %>
              <%= image_tag("star.png", :style => 'width: 13px; height: 13px; margin-bottom: 2px')%>
            </span>
          </div>
        </div>
        <hr>
        <div class="row" style="margin-top: 20px">
          <div class="col-3">
            Money worthy:
          </div>
          <div class="col-3">
            <span style="border: 1px solid #159588; border-radius: 2px; padding: 5px 7px 5px 7px">
              <%= @shoe.money_worthy %>
              <%= image_tag("star.png", :style => 'width: 13px; height: 13px; margin-bottom: 2px')%>
            </span>
          </div>
        </div>
        <div class="row" style="margin-top: 60px">
          <div class="col-12">
            <button type="button" style="box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2), 2px 3px 10px 0 rgba(0, 0, 0, 0.2); border-radius: 50px; background: #159588; border: none; color: white; padding: 7px 15px 7px 15px" data-toggle="modal" data-target="#exampleModal">
              See <%= pluralize(@shoe_shops.size, "shop") %> selling
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= pluralize(@shoe_shops.size, "shop") %> selling</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% @shoe_shops.each do |shop| %>
              <div><b><%= shop.shop.name %></b></div>
              <div>Address: <%= shop.shop.address %></div>
              <div>Website: &nbsp;<%= link_to shop.shop.website %></div>
              <% if shop != @shoe_shops.last %>
                <hr>
              <% end %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="row pull-right" style="margin-top: 100px; margin-right: 50px;">
      <%= form_tag nil, method: 'get' do %>
        <div class="form-inline pull-right">
          <%= select_tag :sort_column, options_for_select([['Vote', 'vote'], ['Time', 'created_at']]), class: 'form-control' %>
          <%= select_tag :sort_direction, options_for_select([['Ascending', 'asc'], ['Descending', 'desc']]), class: 'form-control' %>
          <%= submit_tag "Sort", class: "btn btn-secondary pull-right", style: "float:right"%>
        </div>
      <% end %>
    </div>
    <br><br><br>
    <div class="card" style="margin-top: 100px; border: none">
          <div class="card-body">
            <div class="card-title text-center">
              <h3>Product Review</h3>
            </div>
            <div class="card-text">
              <% @reviews.each do |review| %>
              <div class="card" style="margin-top: 20px; border: none">
                <div class="card-body">
                  <div class="card-text">
                    <%= render partial: 'reviews/review', locals: { review: review } %>
                  </div>
                </div>
              </div>
              <hr>
              <% end %>
            </div>
          </div>
      </div>

    <!-- Recommend Shoe -->
    <!-- <div class="row">
      <% if @recommend_shoe.present? %>
        <h5>Recommend Shoe <%= @recommend_shoe.count %></h5>
        <br>
        <% @recommend_shoe.each do |shoe| %>
          <%= render partial: 'shared/shoe', locals: { shoe: shoe } %>
        <% end %>
      <% end %>
    </div> -->


    <!-- Input shoe -->

    <!-- Searched shoe -->
    <!-- <div class="row">
      <% if @searched_shoe.present? %>
        <h5>Searched Shoes <%= @searched_shoe.count %></h5>
        <br>
        <% @searched_shoe.each do |shoe| %>
          <%= render partial: 'shared/shoe', locals: { shoe: shoe } %>
        <% end %>
      <% end %>
    </div> -->

    <% if user_signed_in? %>
      <%= render partial: 'reviews/form_create', locals: { shoe: @shoe } %>
    <% end %>
  <% end %>


</div>
