<div class="container">
  <% if @shoe.present? %>
    <div class="row">
      <img class="thumbnail" src="http://langviet.info/lavicom/uploads/Hi%CC%80nh-5.png" alt="...">
    </div>
    Name: <%= @shoe.name %>
    <br>
    Durability: <%= @shoe.durability %>
    <br>
    Comfortability: <%= @shoe.comfortability %>
    <br>
    Ventilation: <%= @shoe.ventilation %>
    <br>
    Overall: <%= @shoe.overall %>
    <br>
    Water_proof: <%= @shoe.water_proof %>
    <br>
    Money_worthy: <%= @shoe.money_worthy %>
    <br>
    Category Name: <%= @shoe.category.name %>
    <br>
    Brand Name: <%= @shoe.brand.name %>
    <br>


    <hr>
    <strong><%= link_to "List Reviews", shoe_reviews_path(@shoe) %></strong>
    <hr>
    <h4>Create review</h4>
    <%= form_for [@shoe, @shoe.reviews.new] do |f| %>
      <div class="row">
        <label>Content<label>
        <%= f.text_field :content, required: true %>
      </div>
      <div class="row">
        <label>durability<label>
        <%= f.text_field :durability, required: true %>
      </div>
      <div class="row">
        <label>comfortability<label>
        <%= f.text_field :comfortability, required: true %>
      </div>
      <div class="row">
        <label>ventilation<label>
        <%= f.text_field :ventilation, required: true %>
      </div>
      <div class="row">
        <label>money_worthy<label>
        <%= f.text_field :money_worthy, required: true%>
      </div>
      <%= f.submit "Submit"%>
    <% end %>

  <% end %>

</div>
